<button mat-button class="AddButton text" (click)="openAddDialog()">
    <mat-icon aria-hidden=" false" aria-label="add icon" style="align-self: flex-start;">add</mat-icon>
    Add
</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 Mask">
    <ng-container matColumnDef="emailAddress">
        <th mat-header-cell *matHeaderCellDef class="text"> Email Address </th>
        <td mat-cell *matCellDef="let element" class="text tableContentText"> {{element.email}} </td>
    </ng-container>
 
     <ng-container matColumnDef="password">
        <!-- <th mat-header-cell *matHeaderCellDef class="text"> Password </th>
        <td mat-cell *matCellDef="let element" class="text tableContentText"> {{element.password}} </td> -->
    </ng-container>  

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text"> Actions </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button>
                <mat-icon aria-hidden="false" aria-label="delete icon" style="color:'#bd0000'">delete</mat-icon>
            </button>
            <button mat-icon-button (click)="openEditDialog(element)">
                <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
            </button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef=" displayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10,15]" showFirstLastButtons></mat-paginator>