.mat-step-icon-selected{
    width: 35px;
    height: 35px;
    background-image: linear-gradient(to bottom, #f5515f, #9f041b);
}
.mat-step-icon{
    width: 35px;
    height: 35px;
    background-color: #ebebeb;
}
.mat-horizontal-stepper-header .mat-step-icon {
    width: 35px;
    height: 35px;
    background-color: #ebebeb;
}

.txt-input{
    width: 230px;
    height: 39.2px;
    background-color: #f9f9f9;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex 
  {
      background-color: #ffffff
  } 
  .mat-button.mat-button-base{
    width: 30%;
    height: 20%;
    border-radius: 18.9px;
    box-shadow: 0 6px 31px -4px rgba(189, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, #f5515f, #9f041b);
    color: #ffffff
  }
  .custom{
    min-width: 230px;
    min-height: 165px;
  }
