<!-- <p>complaint-create works!</p> -->
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <!-- <ng-template matStepLabel></ng-template>
        <label class="stepper-paragraph">Contact information</label>
        <br>
        <input class="txt-input" matInput placeholder="Staff Id" formControlName="firstCtrl" required> -->
    <form [formGroup]="firstFormGroup">
      <!-- <ng-template matStepLabel>lol</ng-template> -->
      <div>
        <p mat-body-strong mat-body-2>Contact information</p>
        <mat-form-field appearance="outline">
          <mat-label>Staff Id</mat-label>
          <input matInput placeholder="Placeholder" formControlName="staffidCtrl" name="staffId" required>
        </mat-form-field>
      </div>

      <div layout="row">
        <p mat-body-strong mat-body-2>Location Information</p>
        <mat-form-field appearance="fill">
          <mat-label>Building</mat-label>
          <mat-select formControlName="buildingControl" required>
          <mat-option *ngFor="let item of allBuildings" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div layout="row">
        <mat-form-field appearance="fill">
          <mat-label>Floor</mat-label>
          <mat-select formControlName="floorControl" required>
              <mat-option *ngFor="let item of allFloors" [value]="item">{{item.name}}</mat-option>          
          </mat-select>
        </mat-form-field>
      </div>

      <div layout="row">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <!-- <ng-template matStepLabel></ng-template> -->
      <div layout="row">
        <p mat-body-strong mat-body-2>Issue Information</p>
        <mat-form-field appearance="Select Issue">
          <mat-label>Select Issue</mat-label>
          <mat-select formControlName="issueControl">
            <mat-option *ngFor="let item of allIssues" [value]="item">{{item.name}}</mat-option>           
          </mat-select>
        </mat-form-field>
      </div>
      <div layout="row">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Placeholder" formControlName="descriptionCtrl"></textarea>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="addComplaint()">Submit</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <!-- <button mat-button matStepperPrevious>Back</button> -->
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      {{ticketNumber}}
    </div>
  </mat-step>
</mat-horizontal-stepper>