/* .dark {
    width: 35px;
    height: 35px;
    float: left;
    margin: 6px;
    margin-left: 3%;
    margin-top: 3%;
  
  }
  
  .Group {
    width: 29.5vw;
    height: 10.5vh;
    margin-top: 26%;
    margin-left: 5%;
  }
  
  .Group-191 {
    width: 31vw;
    height: 42vh;
    object-fit: cover;
    margin-left: 2rem;
    margin-top: 12.2vw;
    display: flex;
    vertical-align: bottom;
  
  }
  
  .sec2 {
    background-image: url(~/assets/img/83401576-121374122705570-8035094125244055552-n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Sign-in-to-SmartWall {
    margin-top: 14%;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -0.18px;
    text-align: center;
    color: white;
    margin-left: 4%;
    margin-bottom: 0%;
  }
  
  .Please-insert-your-l {
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -0.07px;
    text-align: center;
    color: white;
    margin-bottom: 5%;
    margin-left: 4%;
  
  }
  
  
  .example-full-width {
    width: 100%;
  }
  
  .ntAccount {
    width: 30vw;
    margin-left: 30%;
    height: 10vh;
  }
  
  .mat-form-field-outline {
    background-color: #fff !important;
    opacity: 1 !important;
    border-radius: 11px !important;
  }
  
  .Rectangle-2-Copy {
    width: 29%;
    height: 6vh;
    background-color: white;
    margin-top: 5px;
    margin-left: 30%;
    width: 30vw;
    color: #bd0000;
    font-family: SeroWeb;
    font-size: 18px;
    font-weight: bold;
  
  }
  
  .footer {
    font-size: 13px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bd0000;
    margin-top: 81%;
    margin-left: 0%;
  }
  
  
  ::ng-deep snack-bar-container.success {
    background-color: #00857b !important;
    color: white;
    width: 10vw;
  }
  
  ::ng-deep snack-bar-container.error {
    background-color: #bd0000 !important;
    color: white;
    width: 10vw;
  }
  
  .mat-form-field-outline ng-tns-c2-0 ng-star-inserted {
    background-color: white;
  }
  
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    background-color: white !important;
  }
  
  .voisTXT {
    color: white;
    float: right;
    font-family: SeroWeb;
    font-size: 35px;
    margin-right: 30px;
    margin-top: 160px;
  }
  
  input:empty {
    font-size: 0.9em !important;
  } */