
   
  .leftSection {
    padding-top: 10%;
  }

  .Change-password {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    color: #333333;
  }

  .In-order-to-protect {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.12px;
    color: #626162;
  }

  .formInput {
    width: 80%;
  }
  
  .loginButton {
    width: 80%;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 10px 20px 0 rgba(189, 0, 0, 0.1);
    background-color: #bd0000;
  }

  .background {
    width: 350px;
    height: 118px;
    border-radius: 4px;
    border: solid 0.5px #bd0000;
    background-color: #fff6f6;
  }

 