<div flex fxLayout="row" fxLayout.lt-sm="column" class="login">
    <div fxFlex="40" class="leftSection">
        <p class="Change-password">Change Password</p>
        <p class="In-order-to-protect">In order to protect your account, make sure <br>
            your password meet the requirements below </p>
        <br>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
            <mat-form-field class="formInput" appearance="outline">
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="background">
                <br>
                <ul>
                    <li>7 characters minimum</li>
                    <li> One uppercase character</li>
                    <li> Consist of letters and numbers </li>
                </ul>
            </div>
            <br>
            <mat-form-field class="formInput" appearance="outline">
                <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Confirm Password"
                    formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

            </mat-form-field>
            <br />
            <br />
            <br>

            <button class="loginButton" [disabled]="!resetPasswordForm.valid" mat-raised-button color="warn"
                type="submit">
                Change Password
            </button>
        </form>

    </div>

    <div fxFlex="50" class="loginImg">
        <img src="../../assets/images/ticketingLogin.png">
    </div>
</div>