<div flex fxLayout="row" fxLayout.lt-sm="column" class="login">
    <div fxFlex="40" class="leftSection">
        <p class="Change-password">Change Password</p>
        <p class="In-order-to-protect">In order to protect your account, make sure <br>
            your password meet the requirements below </p>
        <br>
        <!-- <mat-error *ngIf="loginErrorMSG" class="errorMessage">{{loginErrorMSG}}
        </mat-error> -->
        <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
            <mat-form-field class="formInput" appearance="outline" formGroupName="passwordGroup">
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <!-- <br /> -->
           <div class="background">
               <br>
               <ul>
                   <li>7 characters minimum</li>
                   <li> One uppercase character</li>
                   <li> Consist of letters and numbers </li>
               </ul>
           </div>
            <br>
            <mat-form-field class="formInput" appearance="outline" formGroupName="passwordGroup">
                <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
           
            </mat-form-field>
            <br />
            <br />
            <br>
            <!-- {{resetPasswordForm.status | json}}
            {{resetPasswordForm.value | json}} -->

            <button class="loginButton" [disabled]="!resetPasswordForm.valid" mat-raised-button color="warn"
                type="submit">
                Change Password
            </button>

        </form>
    </div>

    <div fxFlex="50" style="background-color: lavenderblush;">
        <img src="../../assets/images/login.png" class="Group">
    </div>
</div>