<div flex fxLayout="row" fxLayout.lt-sm="column" class="login">
    <div fxFlex="40" class="leftSection">
        <p class="Change-password">Change Password</p>
        <p class="In-order-to-protect">In order to protect your account, make sure <br>
            your password meet the requirements below </p>
            <br>
        <!-- <mat-error *ngIf="loginErrorMSG" class="errorMessage">{{loginErrorMSG}}
        </mat-error> -->
        <form [formGroup]="resetPasswordForm">
            <mat-form-field class="formInput" appearance="outline">
                <input type="password" matInput placeholder="Password" formControlName="newPassword">
                <!-- <mat-error *ngIf="hasError('newPassword', 'required')">Email is required</mat-error> -->
            </mat-form-field>
            <!-- <br /> -->
            <!-- <br *ngIf="hasError('email','required') && loginForm.controls['email']?.touched " /> -->

            <mat-form-field class="formInput" appearance="outline">
                <input type="password" matInput placeholder="Confirm Password" formControlName="confirmNewPassword">
                <!-- <mat-error *ngIf="hasError('password', 'required')">Password is required
                </mat-error> -->
            </mat-form-field>
            <br/>
            <br/>

            <button class="loginButton" mat-raised-button color="warn" type="submit">
                Change Password
            </button>
        </form>
    </div>

    <div fxFlex="50" style="background-color: lavenderblush;">
        <img src="../../assets/images/login.png" class="Group">
    </div>
</div>