
.justifyTitle {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  /* box-shadow: 0 6px 34px 0 rgba(231, 230, 230, 0.5);  */
}

  mat-dialog-container{
    padding: 0px !important;
  }

  .Card {
    width: 865px;
    border-radius: 8px;
    background-color: #ffff;
    position: relative!important;
    
  }

  .Rectangle {
    /* width: 100%;
    height: 107px;
    border-radius: 8px;
    box-shadow: 0 6px 34px 0 rgba(231, 230, 230, 0.5); */
    /* background-color: #ffff; */
   /* padding: 20px; */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.29;
    color: var(--black);
  }

  .Issue-ID {
    width: 200px;
    height: 31px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #bd0000;
  }

  mat-dialog-content{
    padding: 0px 67px;
  }

  mat-label{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    color: #8a8a8a;
  }
  
  .Issue-ID-27276 .text-style-1 {
    color: var(--black);
  }

p {
  font-size: 25px;   
  }

.circle{
  border: solid 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: transparent;
  display: inline-block;
}

.yellow {
  background-color: #f5a623;
}

.green{
  background-color:#03c990;
}

.blue{
  background-color:#4a90e2;
}

.deep-red{
  background-color:#bd0000;
}

.mat-dialog-actions{
  display: flex;
  justify-content: flex-end;
  padding: 40px 0px;
}

.mat-dialog-actions > button
{
  margin-right: 80px;
  width: 15%;
  height: 53px;
  border-radius: 3.6px;
  border: solid 0.9px hsl(0, 100%, 37%);
  background-color: #ffff;
  color: #bd0000;
  font-size: 18px;
  font-weight: 500;
}

.mat-dialog-actions > button:hover
{
  background-color: #bd0000;
  color: #ffff
}

